// *** Font Roboto ***
$font-stack: 'Roboto', sans-serif

// *** Colors ***
$white-color: #FFFFFF
$black-color: #000000
$red-color: #FF0000
$bg-color: #F8F8F8

// *** Mixin ***

@mixin center-page()
    position: fixed
    top: 45%
    left: 50%
    margin: 0
    transform: translate(-50%, -50%)

@mixin center-grid()
    display: grid
    justify-content: center
    align-content: center

@mixin max-content()
    display: inline-block
    width: max-content

@mixin sub-title()
    color: $red-color
    font-size: 24px
    font-weight: 500

@mixin title()
    color: $black-color
    font-size: 72px
    margin: 0px 0px 130px 0px

@mixin name()

// *** Global Page Style && ClassName ***

body
    font-family: $font-stack
    margin: 0

button
    font-family: $font-stack

.red-color
    color: $red-color

.white-color
    color: $white-color

.bg-red-color
    background-color: $red-color

.bg-color
    background-color: $bg-color

.flex
    display: flex

.container
    padding: 70px 90px

.center
    @include center-grid()

.sub-title
    @include sub-title()
    @include center-grid()

.title
    @include title()
    @include center-grid()

// *** Home Style ***

.center-page
    @include center-page()

    h1
        @include center-grid()
    h4
        @include center-grid()
        margin-top: 20px
        margin-bottom: 35px
    div
        @include center-grid()
        button
            color: $white-color
            background-color: $black-color
            width: 210px
            height: 70px
            font-size: 20px

.title-home
    color: $black-color
    font-weight: 900
    font-size: 48px

.sub-title-home
    color: $black-color
    font-weight: 500
    font-size: 24px

// *** Welcome ***
// *** NavBar ***

.title-logo
    align-items: center
    h1
        font-size: 42px

.flex-end
    justify-content: end
    width: 100vw
    .btn-contact
        margin: 0px 97px 0px 0px
    span
        font-size: 24px
        font-weight: 400

// *** Welcome title ***

.welcome
    font-size: 72px
    margin: 70px 0px 190px 0px

// *** About Me ***

.about-me-container
    display: inline-block
    height: max-content
    width: max-content

.about-me
    @include max-content()
    font-size: 20px
    font-weight: 900
    margin: 16px 30px 16px 30px

.about-text
    font-size: 36px
    font-weight: 300

.about-text-container
    max-width: 60rem
    margin: 0px 0px 0px 88px

// *** Icons ***

.icon-github,
.icon-instagram
    font-size: 35px

.icon-linkedin
    font-size: 35px
    margin: 0px 45px 0px 45px

.icons-welcome
    margin: 40px 0px 50px 0px

// *** Qualification - MyExperience ***

.expe-container
    display: flex

.date
    font-size: 36px
    font-weight: 400

.icon-dot
    color: $red-color
    font-size: 100px
    margin: -30px 30px 0px 50px

.expe-sub-title
    color: #A6A6A6
    font-size: 36px
    font-weight: 500
    margin: 0

.expe-title
    color: $black-color
    font-size: 36px
    font-weight: 500
    margin: 0

.expe-list
    font-size: 36px
    font-weight: 300
    list-style-type: none
    li::before
        content: "•"
        color: $black-color
        display: inline-block
        width: 1em
        margin-left: -0.5em
